// scss est une evolution de css, si une variable a change, scss peut tout changer cette variable
$done-color: grey;
.done{
  color: $done-color;
  text-decoration: line-through;
}

.todoNb {
  font-size: 2em;
  font-width: bold;
  margin-right:1rem;

}
